{"mode": "ARCHIVE", 
 "archive_data_form": "sensit_aded1",
 "site_map_file": "PATH_TO_SITEMAP/sitemap_file.nc",
 "sensor_type": "SENSIT_ADED_I",
 "sensit_path": "SENSIT_PATH",
 "sensit_hour_offset": 0,
 "sensit_vars_interpolated": ["ch4", "w_x", "w_y", "w_z"],
 "sensit_met_sensors": ["FMD1000"],
 "sensit_data_start_datetime": "START_DATETIME",
 "sensit_data_duration": DURATION,
 "sensit_time_increment": 1,
 "time_window_size": 300,
 "time_window_stride": 300,
 "sensor_readings_file": "PATH_TO_SENSOR_FILE/inference_example_sensor_file.nc", 
 "model_file": "MODEL_FILE", 
 "pot_leaks_file": "PATH_TO_FILE/PotLeak_Specs.nc",
 "csv_output": true,
 "csv_location_output_filename": "OUTPUT_PATH/loc_predictions.csv",
 "csv_rate_output_filename": "OUTPUT_PATH/rate_predictions.csv",
 "std_netcdf_write_path": "OUTPUT_PATH/inference_example.nc",
 "siteds_netcdf_write_path": "OUTPUT_PATH/siteds.nc"
}
